body{
				background: url("./img/background.jpeg");
				background-size: cover;
		   background-repeat: no-repeat;
				padding: 40px;
				width: 200px;
				margin: o auto;
}
h1 {
				margin: 20px;
				font-weight: 700;
				color: indigo;
				font-family: "poppins",san-serif;
				display: inline;
}
